@model Vidly.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "List of Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .divhover {
        border: 1px solid #eee;
        padding: 5px 10px;
    }

        .divhover:hover {
            background: #ddd;
        }
</style>


<h2>Movies</h2>
@if (Model.Movie_List.Count == 0)
{
    <p>There is no Movie to display</p>
}
else
{
    foreach (var movie in Model.Movie_List)
    {
        <div class="divhover">
            @Html.ActionLink(@movie.Name, "Detail", new { id = movie.Id }, "Customer")
        </div>
    }
}

